.container{
    
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    justify-content: center;
  
  

}
.main{
   background-color: whitesmoke;
   border-radius: 10px;
   text-align: center;



}
span{
    display: block;
   
    padding-top: 10px;

}
.load{
  background-color: lightgreen;

  display: inline;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  border: none;
}
.dow{
    background-color: skyblue;
    height: 20px;
    width: 60px;
    border-radius:5px;
    border: none;
}
p{
    font-size: 10px;
}
